
<article class="main">
    <div class="custom-alert" ng-show="showError">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{{errorMessage}}</strong>
    </div>

    <ul>
        <li ng-repeat="player in players">
            <h3 class="title">
                <a href="#/player/{{player._id}}" class="linkColor">{{player.name}}</a>
            </h3>
            <div class="meta">
                <span class="fancy">av</span>
            </div>
        </li>
    </ul>

    <form class="navbar-form navbar-left" role="search">
        <button type="submit" class="btn btn-default" ng-click="submitPlayer(player)">Legg til spiller</button>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Navn" ng-model="player.name">
        </div>
    </form>
</article>
